@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MvcRazorToPdf</title>
    <style>
        html
        {
            font-family: Arial;
        }
        h1
        {
            color: blue;
        }
        table {
            border: 1px solid black;
            border-spacing:0px;
        }
        table tr th {
            background-color: gray;
            color:white;
            padding:2px;
        }
        table tr td {
            margin:0px;
            padding:2px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
