@{
    ViewBag.Title = "SaveToAppData";
}

<h2>SaveToAppData</h2>
The PDF has been saved to App_Data and is available at: <a href="/App_Data/FreshlyMade.pdf">here</a>. Also check out @Server.MapPath("~/App_Data/FreshlyMade.pdf")